:root {
    font-size: 10px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $color-001;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-002; 
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-002; 
  }

::selection {
    background-color: $color-002;
    color: $white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-secondary;
    background-color: $white;

    &:has(.modal) {
        height: 100vh;
        overflow-y: hidden;
        padding-right: 10px;
    }
}

.container {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}