.about {
    background-color: $color-001;
    padding: 200px 0;
    background-image: url('../../images/about-grid.png');
    background-size: cover;
    position: relative;
    margin-top: 10px;

    >div {
        &:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transform: rotate(180deg);
        }

        &:last-child {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    img {
        max-width: 50%;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}