.services {
    position: relative;
    margin-bottom: 50px;
    overflow-x: clip;

    @include min($lg) {
        margin-bottom: 150px;
    }

    .blob {
        position: absolute;
        z-index: -1;
        left: -400px;
    }

    .reverse {
        .blob {
            right: -400px;
            left: auto;
        }
    }
}